<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Speech Sentiment Analysis</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="style.css">

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands"></script>

</head>
<body>
	<div id="flag-container"></div>
	<div id = "wrapper">
  <div id = "everything">
  <h1>Friend Flow</h1>
  <form action="/analyze" method="POST" enctype="multipart/form-data">

	<label for="input">Select input type:</label> <br/>
	<input type="radio" id="input" name="input" value="text" checked>
	<label for="text">Text</label>
	<input type="radio" id="input" name="input" value="audio">
	<label for="audio">Audio</label>
	<br><br>

    <label for="text">Enter text:</label><br>
    <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
    <label for="language">Select language:</label>
    <select id="language" name="language">
      {% for code, name in languages.items() %}
        <option value="{{ code }}">{{ name }}</option>
      {% endfor %}
    </select>
    <br> <br>
  <button type = 'button' onclick="startRecording()">Start Recording</button>
	<button type = 'button' onclick="stopRecording()">Stop Recording</button>
	<button type = 'button' onclick="downloadRecording()">Download Recording</button>
    <br><br>
    <label for="audio">Upload audio file:</label><br/>
    <input type="file" id="audio" name="audio" style = "padding-top: 10px"><br>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div></div>
  <script>
		let recorder;
		let audioChunks = [];
		
		async function startRecording() {
			const device = await navigator.mediaDevices.getUserMedia({ audio: true });
			const options = { mimeType: 'audio/wav', audioBitsPerSecond: 16000 };
			recorder = new MediaRecorder(device, options);
			recorder.addEventListener('dataavailable', event => {
				audioChunks.push(event.data);
			});
			recorder.start();
		}
		
		function stopRecording() {
			recorder.stop();
		}
		
		function downloadRecording() {
			const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
			const url = URL.createObjectURL(audioBlob);
			const link = document.createElement('a');
			link.href = url;
			link.download = 'recording.wav';
			link.click();
			URL.revokeObjectURL(url);
		}

	</script>
	<script>
		const flags = ['🌏', '🌎', '🌍'];
		const flagContainer = document.querySelector('#flag-container');

		function getRandomNumber(max) {
			return Math.floor(Math.random() * max);
		}

		function createFlag() {
			const flag = document.createElement('span');
			flag.classList.add('flag');
			flag.textContent = flags[getRandomNumber(flags.length)];
			flag.style.left = `${getRandomNumber(window.innerWidth)}px`;
			flag.style.top = `${getRandomNumber(window.innerHeight)}px`;
			return flag;
		}

		function spawnFlags() {
			setInterval(() => {
				const flag = createFlag();
				flagContainer.appendChild(flag);
				setTimeout(() => {
				flag.remove();
				}, 3000);
			}, 1000);
		}

		spawnFlags();

	</script>
</body>
</html>