html, body {
    height: 100vh;
    overflow: hidden
}

body{
    background-image: url("https://i.imgur.com/3W3mpDr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: 'Trebuchet MS'
}


h1{
    font-family: 'Concert One', cursive;
}

p, label{
    font-size: 17px
}

textarea{
    margin: 25px;
    border-radius: 10px;

}

#wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px
  }
  
  #everything{
    display: block;
    margin: 0 auto;
    min-width: 400px;
    width: 25vw;
    border-radius: 25px;
    background-color: #9DC1CA;
    text-align: center;
    padding: 40px;

  }

  .flag {
    position: absolute;
    font-size: 60px;
    animation-name: flag-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: -10
  }
  
  @keyframes flag-animation {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }